.venv/
__pycache__/

Scheduling.pdf
E2.pdf
Load_Balance.docx

Suicide_Detection.csv

tiempo.csv
ga_results.csv
comparison_times.csv

g2.py
tempCodeRunnerFile.py

comparison_times.png
comparison_speedup.png
comp_barras.png